*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: wheat;
}
img{
    display: block;
    max-width: 100%;
}
.galeria{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.galeria__item{
    width: 80%;
    cursor: pointer;
}
@media(min-width: 480px){
    .galeria__item{
        width: 48%;
        margin: 5px;
    }
}
@media(min-width: 768px){
    .galeria__item{
        width: 33%;
    }
}
@media(min-width: 1024px){
    .galeria__item{
        width: 20%;
        margin: 15px;
    }
}
.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__img{
    width: 70%;
    max-width: 700px;
}
.modal__boton{
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    font-family: monospace;
   line-height: 50px;
   text-align: center;
   background: red;
   border-radius: 50%;
   cursor: pointer;

   position: absolute;
   right: 10px;
   top: 10px;
}